Flowpack:
  JobQueue:
    Common:
      queues:
        #
        # This is a sample configuration that shows all possible configuration options and
        # their defaults
        #

        # Default RabbitMQ Queue with Exchange
        demo:
          className: 't3n\JobQueue\RabbitMQ\Queue\RabbitQueue'
          executeIsolated: true
          maximumNumberOfReleases: 3

          releaseOptions:
            delay: 5

          options:
            routingKey: '' # for advanced exchange configuration

            # Options that are used to configure a que
            queueOptions:
              declare: true
              exchangeName: ''
              passive: false
              durable: false
              exclusive: false
              autoDelete: true
              nowait: false
              arguments: []
              ticket: null

            # Options to configure an optional exchange
            exchange:
              name: 't3n-exchange' # this field cannot be blank as the default exchange can not be overriden!
              type: 'direct'
              passive: false
              durable: false
              autoDelete: true
              internal: false
              nowait: false
              arguments: []

            client:
              host: localhost
              port: 5672
              username: guest
              password: guest
              vhost: '/'
              insist: false
              loginMethod: 'AMQPLAIN'

        # RabbitMQ Queue with Exchange and Dead-Letter-Exchange
        demo-with-dlx:
          className: 't3n\JobQueue\RabbitMQ\Queue\RabbitQueueWithDlx'
          executeIsolated: true
          maximumNumberOfReleases: 3

          releaseOptions:
            delay: 5

          options:
            routingKey: '' # for advanced exchange configuration

            # Options that are used to configure a que
            queueOptions:
              declare: true
              exchangeName: ''
              passive: false
              durable: false
              exclusive: false
              autoDelete: true
              nowait: false
              arguments: []
              ticket: null

            # Options to configure an optional exchange
            exchange:
              name: 't3n-exchange' # this field cannot be blank as the default exchange can not be overriden!
              type: 'direct'
              passive: false
              durable: false
              autoDelete: true
              internal: false
              nowait: false
              arguments: []

            client:
              host: localhost
              port: 5672
              username: guest
              password: guest
              vhost: '/'
              insist: false
              loginMethod: 'AMQPLAIN'
